@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: theme("fontFamily.sans");
    background-color: theme("colors.bg");
    color: theme("colors.text");
  }

  :focus-visible {
    @apply focus-ring;
  }
}
